[submodule "vendor/luajit2"]
	path = vendor/luajit2
	url = https://github.com/onlyfeng/luajit2
[submodule "vendor/imgui"]
	path = vendor/imgui
	url = https://github.com/ocornut/imgui
	branch = docking
[submodule "vendor/ImGuiColorTextEdit"]
	path = vendor/ImGuiColorTextEdit
	url = https://github.com/BalazsJako/ImGuiColorTextEdit
